body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.container {
    width: 60%;
    padding: 30px;
    margin: 0 auto;
    background: #fafafa;
    border-radius: 16px;
    box-shadow: 0px 0px 70px rgb(164 35 186 / 15%);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card-box {
    flex: 1 1 150px;
    max-width: 300px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -7px 8px 20px -7px rgba(34, 60, 80, 0.19);
}

.card {
    padding: 8px 0;
    font-size: 15px;
    color: #333;
}

.card.title {
    font-weight: 600;
    font-size: 17px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap-reverse;
}

.cardAddButton {
    padding: 10px;
    border: none;
    background-color: indigo;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.cardAddButton:hover {
    opacity: 0.7;
}

dialog {
    padding: 25px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.45);
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

dialog input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.modal-main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

#addButton {
    background: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

#addButton:disabled {
    background: #a583be;
    cursor: default;
}

#closeButton {
    background: #aaa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

#category {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#selected {
    cursor: pointer;
    font-size: 13.5px;
    color: #807a7a;
}

#selected.active {
    color: #000000;
}

.options {
    list-style: none;
    padding: 0;
    margin: auto;
    display: none;
    font-size: 14px;
}

.options.open {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.options li {
    padding: 10px;
    cursor: pointer;
}

.options li:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

#category li.active {
    color: black;
    font-weight: 600;
}

#filterSelect {
    padding: 10px;
    border: none;
    background-color: #9841dade;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.del-button {
    padding: 10px;
    border: none;
    background-color: #a91e1e;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.del-button:hover {
    opacity: 0.7;
}

#sortPrice {
    padding: 10px;
    border: none;
    background-color: #7427b0de;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

#search {
    margin-right: auto;
}

#searchInput {
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}